@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-colour-400;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-colour-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-colour-700;
  }

  .dark ::-webkit-scrollbar-track {
    @apply bg-colour-300;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-colour-600;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-colour-1100;
  }
}
